* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

ul {
  list-style: none;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.fs-17 {
  font-size: 17px;
}

.fs-18 {
  font-size: 18px;
}

.fs-19 {
  font-size: 19px;
}

.fs-20 {
  font-size: 20px;
}

.fs-21 {
  font-size: 21px;
}

.fs-22 {
  font-size: 22px;
}

.fs-23 {
  font-size: 23px;
}

.fs-24 {
  font-size: 24px;
}

.fs-25 {
  font-size: 25px;
}

.fs-26 {
  font-size: 26px;
}

.fs-27 {
  font-size: 27px;
}

.fs-28 {
  font-size: 28px;
}

.fs-29 {
  font-size: 29px;
}

.fs-30 {
  font-size: 30px;
}

.fs-31 {
  font-size: 31px;
}

.fs-32 {
  font-size: 32px;
}

.fs-33 {
  font-size: 33px;
}

.fs-34 {
  font-size: 34px;
}

.fs-35 {
  font-size: 35px;
}

.fs-36 {
  font-size: 36px;
}

.fs-37 {
  font-size: 37px;
}

.fs-38 {
  font-size: 38px;
}

.fs-39 {
  font-size: 39px;
}

.fs-40 {
  font-size: 40px;
}

.p-5 {
  padding: 5px;
}

.pt-5 {
  padding-top: 5px;
}

.pe-5 {
  padding-right: 5px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.m-5 {
  margin: 5px;
}

.mt-5 {
  margin-top: 5px;
}

.me-5 {
  margin-right: 5px;
}

.mb-5 {
  margin-bottom: 5px;
}

.ml-5 {
  margin-left: 5px;
}

.p-10 {
  padding: 10px;
}

.pt-10 {
  padding-top: 10px;
}

.pe-10 {
  padding-right: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pl-10 {
  padding-left: 10px;
}

.m-10 {
  margin: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.me-10 {
  margin-right: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.p-15 {
  padding: 15px;
}

.pt-15 {
  padding-top: 15px;
}

.pe-15 {
  padding-right: 15px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pl-15 {
  padding-left: 15px;
}

.m-15 {
  margin: 15px;
}

.mt-15 {
  margin-top: 15px;
}

.me-15 {
  margin-right: 15px;
}

.mb-15 {
  margin-bottom: 15px;
}

.ml-15 {
  margin-left: 15px;
}

.p-20 {
  padding: 20px;
}

.pt-20 {
  padding-top: 20px;
}

.pe-20 {
  padding-right: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pl-20 {
  padding-left: 20px;
}

.m-20 {
  margin: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.me-20 {
  margin-right: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.p-25 {
  padding: 25px;
}

.pt-25 {
  padding-top: 25px;
}

.pe-25 {
  padding-right: 25px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pl-25 {
  padding-left: 25px;
}

.m-25 {
  margin: 25px;
}

.mt-25 {
  margin-top: 25px;
}

.me-25 {
  margin-right: 25px;
}

.mb-25 {
  margin-bottom: 25px;
}

.ml-25 {
  margin-left: 25px;
}

.p-30 {
  padding: 30px;
}

.pt-30 {
  padding-top: 30px;
}

.pe-30 {
  padding-right: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pl-30 {
  padding-left: 30px;
}

.m-30 {
  margin: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.me-30 {
  margin-right: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.ml-30 {
  margin-left: 30px;
}

.login-page .main-login, .login-page .form-container form .google-btn, .login-page .rhs .rhs-container, .login-page .rhs .rhs-container .img-container .ellipse {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-page aside .title, .dashboard-page aside ul li, .dashboard-page aside .nav-foot .manager-container, .dashboard-page .content header .container, .dashboard-page .content .statistics .container .statistic .stat, .dashboard-page .content .table .table-header, .search {
  display: flex;
  align-items: center;
}

.login-page .form-container form .input {
  transition: all 0.3s;
}

.search {
  margin-left: auto;
  background-color: #fff;
  border-radius: 12px;
  padding: 10px;
}

.login-page {
  display: flex;
  font-family: "Poppins", sans-serif;
  text-align: center;
  min-height: 100vh;
}
.login-page .main-login {
  width: 100%;
  position: relative;
  max-width: 100%;
  z-index: 1000;
}
@media (min-width: 991px) {
  .login-page .main-login {
    width: 50%;
  }
}
.login-page .form-container {
  width: 379px;
  padding: 0 15px;
  max-width: 100%;
}
.login-page .form-container h1 {
  text-transform: uppercase;
}
.login-page .form-container h1 + span {
  display: block;
  color: #525252;
  margin-bottom: 15px;
  word-spacing: 2px;
}
.login-page .form-container h1 + span .dash-span {
  font-weight: bold;
  color: #000;
}
.login-page .form-container form {
  display: flex;
  flex-direction: column;
}
.login-page .form-container form .input {
  position: relative;
  margin-bottom: 10px;
  background-color: #F0EDFF;
  border-radius: 16px;
  overflow: hidden;
}
.login-page .form-container form .input:focus-within {
  box-shadow: 0 3px 6px 0px #b1b1b1;
}
.login-page .form-container form .input input {
  width: 100%;
  height: 52px;
  background-color: transparent;
  padding-left: 50px;
}
.login-page .form-container form .input input::-moz-placeholder {
  font-size: 12px;
  color: #1C1C1C;
}
.login-page .form-container form .input input::placeholder {
  font-size: 12px;
  color: #1C1C1C;
}
.login-page .form-container form .input img {
  left: 15px;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
}
.login-page .form-container form .others {
  position: relative;
  color: #525252;
  margin-bottom: 15px;
}
.login-page .form-container form .others span {
  color: #000;
  font-weight: bold;
}
.login-page .form-container form .others::before, .login-page .form-container form .others::after {
  content: "";
  width: calc((100% - 150px) / 2);
  height: 1px;
  position: absolute;
  background-color: #F6F4FF;
  top: 50%;
  transform: translateY(-50%);
}
.login-page .form-container form .others::before {
  left: 0;
}
.login-page .form-container form .others::after {
  right: 0;
}
.login-page .form-container form .error-message {
  color: #D0004B;
}
.login-page .form-container form .login-btn {
  width: 124px;
  height: 52px;
  margin: 20px auto;
  border-radius: 16px;
  color: #fff;
  background: linear-gradient(to right, #9181F4, #5038ED);
  cursor: pointer;
}
.login-page .form-container form .google-btn {
  height: 52px;
  border-radius: 16px;
  border: 1px solid #F6F4FF;
  background-color: #F0EDFF;
  cursor: pointer;
}
.login-page .form-container form .google-btn img {
  margin-right: 10px;
}
.login-page .rhs {
  display: none;
  position: relative;
  width: 50%;
  padding: 30px 0 0 30px;
  background: linear-gradient(to top, #5038ED 85%, #9181F4);
}
.login-page .rhs .rhs-container {
  padding: 0 15px;
  min-height: 100%;
  background-image: url("../../assets/login_1.webp");
}
.login-page .rhs .rhs-container .img-container {
  width: 412px;
  height: 524px;
  position: relative;
  padding: 20px;
  background-color: rgba(144, 129, 244, 0.5);
  border-radius: 46px;
  border: 1px solid #fff;
}
.login-page .rhs .rhs-container .img-container p {
  width: 184px;
  height: 230px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: bold;
  text-transform: capitalize;
}
@media (min-width: 1200px) {
  .login-page .rhs .rhs-container .img-container p {
    top: 15px;
    left: 15px;
    transform: translate(0);
  }
}
.login-page .rhs .rhs-container .img-container .ellipse {
  width: 79px;
  height: 79px;
  border-radius: 50%;
  left: -35px;
  bottom: 70px;
  position: absolute;
  background-color: #fff;
}
.login-page .rhs .rhs-container .img-container .woman {
  right: 0;
  top: 50%;
  transform: translate(60px, -42%);
  position: absolute;
  display: none;
}
@media (min-width: 1200px) {
  .login-page .rhs .rhs-container .img-container .woman {
    display: block;
  }
}
@media (min-width: 991px) {
  .login-page .rhs {
    display: block;
  }
}

.dashboard-page {
  display: flex;
  font-family: "Poppins", sans-serif;
}
.dashboard-page aside {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fff;
  width: 250px;
  min-height: 100dvh;
  text-transform: capitalize;
  box-shadow: 5px 0 10px 0 #d9d9d9;
}
.dashboard-page aside ul li {
  font-size: 14px;
  text-transform: capitalize;
  margin-bottom: 10px;
  border-radius: 8px;
}
.dashboard-page aside ul .disabled {
  color: #9197B3;
  cursor: no-drop;
}
.dashboard-page aside ul .active {
  display: flex;
  color: #fff;
  background-color: #5932EA;
  cursor: pointer;
}
.dashboard-page aside ul .active img {
  margin-left: auto;
}
.dashboard-page aside .nav-foot {
  margin-top: auto;
}
.dashboard-page aside .nav-foot .offer {
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  background: linear-gradient(to right, #EAABF0, #4623E9);
  border-radius: 20px;
}
.dashboard-page aside .nav-foot .offer .text {
  color: #fff;
  font-size: 14px;
}
.dashboard-page aside .nav-foot .offer .pro-btn {
  width: 100%;
  border-radius: 20px;
  color: #4925E9;
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}
.dashboard-page aside .nav-foot .manager-container img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}
.dashboard-page aside .nav-foot .manager-container .role {
  color: #525252;
}
.dashboard-page .content {
  width: 100%;
  background-color: #FAFBFF;
}
.dashboard-page .content .statistics {
  background-color: #fff;
  border-radius: 30px;
}
.dashboard-page .content .statistics img {
  width: 26px;
  height: 26px;
  border-radius: 50%;
}
.dashboard-page .content .statistics img:not(:first-child) {
  margin-left: -10px;
}
.dashboard-page .content .statistics .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dashboard-page .content .statistics .container .statistic {
  display: flex;
}
.dashboard-page .content .statistics .container .statistic .title {
  color: #525252;
}
.dashboard-page .content .statistics .container .statistic .number {
  font-weight: 600;
}
.dashboard-page .content .statistics .container .statistic .stat {
  font-size: 12px;
}
.dashboard-page .content .statistics .container .statistic .stat.up span {
  color: #00AC4F;
}
.dashboard-page .content .statistics .container .statistic .stat.down span {
  color: #D0004B;
}
.dashboard-page .content .table {
  background-color: #fff;
  border-radius: 30px;
}
.dashboard-page .content .table .table-header .text span {
  color: #00AC4F;
}
.dashboard-page .content .table .table-header .search {
  background-color: #FAFBFF;
}/*# sourceMappingURL=main.css.map */