/// Login Vars

// Colors
$white: #fff;
$black: #000;
$red: red;
$light-purple: #9181f4;
$dark-purple: #5038ed;
$light-gray: #525252;
$field-bg: #f0edff;
$field-color: #1c1c1c;
$border-color: #f6f4ff;

// Numbers
$full-width: 100%;
$radius-16: 16px;

/// Dashboard Vars

// Colors
$content-bg: #fafbff;
$disabled: #9197b3;
$active: #5932ea;
$linear-start: #eaabf0;
$linear-end: #4623e9;
$btn-color: #4925e9;
$green: #00ac4f;
$red: #d0004b;

$table-head: #b5b7c0;
